@keyframes CasesFiltersOpen {
  from {
    width: 0;
    height: 800px;
    opacity: 0;
  }
  to {
    width: 92%;
    height: 800px;
    opacity: 1;
  }
}

@keyframes CasesFiltersClose {
  from {
    width: 92%;
    height: 800px;
    opacity: 1;
    
  }
  to {
    width: 0;
    height: 800px;
    opacity: 0;
  }
}

.CasesFilters {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  padding-right: 100px;
  gap: 50px;

  @media (max-width: 600px) {
    padding-right: 0;
  }
}

.Rhomb{
  margin-top: 25px;
  width: 65px;
  height: 65px;
  border: 4px solid #fff;
  border-radius: 5px;
  transform: rotate(45deg);

  @media (max-width: 600px) {
    display: none;
  }
}

.CaseFiltersContainer {
  flex: 1 1;
  min-height: 450px;
  animation: CasesFiltersOpen .3s;
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (max-width: 1350px) {
    flex-wrap: wrap;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 20px;
    flex: unset;
    width: 85%;
    animation: unset;
  }
}

.CaseFiltersContainerClose {
  display: none;
}

.CaseFiltersContainerCloseAnimate {
  animation: CasesFiltersClose .3s;
}